[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Flask-SQLAlchemy = "*"
psycopg2-binary = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
Flask-Bcrypt = "*"
PyJWT = "*"
sendgrid = "*"

[dev-packages]

[requires]
python_version = "3.9"
